In [1]:
import pandas as pd
lst = ['welcome','to','data','analytics','lab']
df=pd.DataFrame(lst)
print(df)

           0
0    welcome
1         to
2       data
3  analytics
4        lab

In [3]:
import pandas as pd
lst = {'Name':['kabil','ravi','sam'],'Age':[20,19,22]}
df=pd.DataFrame(lst)
print(df)

    Name  Age
0  kabil   20
1   ravi   19
2    sam   22

### Column Selection

In [6]:
import pandas as pd
lst = {'Name':['kabil','ravi','sam'],'Age':[20,19,22],'Marks':[90,87,93]}
df=pd.DataFrame(lst)
print(df[['Name','Marks']])

    Name  Marks
0  kabil     90
1   ravi     87
2    sam     93

### Row Selection

In [12]:
import pandas as pd
lst = {'Name':['kabil','ravi','sam'],'Age':[20,19,22],'Marks':[90,87,93]}
df=pd.DataFrame(lst)
first=df.loc[df['Name']=="kabil"]
print(first)

    Name  Age  Marks
0  kabil   20     90

In [15]:
# importing pandas package
import pandas as pd
 
# making data frame from csv file
data = pd.read_csv("d:/Users/ff1/Desktop/DataAnalyticslab/nba.csv", index_col ="Name")
 
# retrieving row by loc method
first = data.loc["Avery Bradley"]
second = data.loc["R.J. Hunter"]
 
 
print(first, "\n\n\n", second)

Team        Boston Celtics
Number                 0.0
Position                PG
Age                   25.0
Height                 6-2
Weight               180.0
College              Texas
Salary           7730337.0
Name: Avery Bradley, dtype: object


 Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

### Indexing and Selecting data

#### Selecting a single columns

In [20]:
import pandas as pd
data = pd.read_csv("d:/Users/ff1/Desktop/DataAnalyticslab/nba.csv", index_col ="Name")
first=data["Age"]
print(first)

Name
Avery Bradley    25.0
Jae Crowder      25.0
John Holland     27.0
R.J. Hunter      22.0
Jonas Jerebko    29.0
                 ...
Shelvin Mack     26.0
Raul Neto        24.0
Tibor Pleiss     26.0
Jeff Withey      26.0
NaN               NaN
Name: Age, Length: 458, dtype: float64

#### Selecting a single row

In [21]:
import pandas as pd
data = pd.read_csv("d:/Users/ff1/Desktop/DataAnalyticslab/nba.csv", index_col ="Name")
row2 = data.iloc[3] 
print(row2)

Team        Boston Celtics
Number                28.0
Position                SG
Age                   22.0
Height                 6-5
Weight               185.0
College      Georgia State
Salary           1148640.0
Name: R.J. Hunter, dtype: object

### Working with Missing data

In [30]:
import pandas as pd
import numpy as np
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
df=pd.DataFrame(dict)
print(df.isnull()) #df.notnull() opposite to isnull()

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False

#### filling the missing values

In [40]:
import pandas as pd
import numpy as np
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
df=pd.DataFrame(dict)
df.fillna(0)

   First Score  Second Score  Third Score
0        100.0          30.0          0.0
1         90.0          45.0         40.0
2          0.0          56.0         80.0
3         95.0           0.0         98.0

#### dropping the missing values

In [41]:

df.dropna()

   First Score  Second Score  Third Score
1         90.0          45.0         40.0

### iterating over rows and columns

In [36]:
import pandas as pd
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
df = pd.DataFrame(dict)
print(df)

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

In [37]:
import pandas as pd
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
df = pd.DataFrame(dict)
for i,j in df.iterrows():
    print(i,j)
    print()

0 name      aparna
degree       MBA
score         90
Name: 0, dtype: object

1 name      pankaj
degree       BCA
score         40
Name: 1, dtype: object

2 name      sudhir
degree    M.Tech
score         80
Name: 2, dtype: object

3 name      Geeku
degree      MBA
score        98
Name: 3, dtype: object

In [38]:
columns=list(df)
for i in columns:
    print(df[i][2])

sudhir
M.Tech
80

In [43]:
import numpy as np
data = np.array([1, 2, 3, 4, 5])
result = np.mean(data)
print(result)

3.0

In [50]:
from scipy import stats

# Input: Receive a list of numbers from the user
speed = input("Enter a list of numbers separated by spaces: ")
speed = list(map(int, speed.split()))

# Calculate the mode using scipy.stats.mode
result = stats.mode(speed)

# Output the result
print("Mode:", result.mode)
print("Count:", result.count)

Enter a list of numbers separated by spaces: 89 56 34 12
Mode: [12]
Count: [1]

In [46]:
import numpy
speed = [86,87,88,86,87,85,86]
x = numpy.std(speed)
print(x)

0.9035079029052513

In [47]:
import numpy
speed = [32,111,138,28,59,77,97]
x = numpy.var(speed)
print(x)

1432.2448979591834

In [48]:
import numpy
speed = [32,111,138,28,59,77,97]
x = numpy.std(speed)
print(x)

37.84501153334721